@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,500&family=Roboto:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 2rem;
}

body .banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  margin: 5rem auto;
  font-size: 16px;
}

body .banner .banner__up {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem;
  background-color: #50b385;
  border-radius: 0.5rem 0.5rem 0 0;
}

body .banner .banner__up .banner__log {
  padding-left: 2rem;
}

body .banner .banner__up .banner__log .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .banner .banner__up .banner__log .logo .logo__imag {
  margin-right: 1rem;
  color: green;
  font-size: 25px;
  background-color: #a9f3d4;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
}

@media screen and (max-width: 950px) {
  body .banner .banner__up .banner__log .logo .logo__imag {
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

body .banner .banner__up .banner__log .logo .logo__imag .logo__img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.625rem;
}

body .banner .banner__up .banner__log .logo .logo__mark {
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 950px) {
  body .banner .banner__up .banner__log .logo .logo__mark {
    font-size: 1rem;
  }
}

body .banner .banner__up .banner__link {
  width: 100%;
}

body .banner .banner__up .banner__link .banner__enlace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.9rem;
  font-weight: 600;
}

@media screen and (max-width: 950px) {
  body .banner .banner__up .banner__link .banner__enlace {
    font-size: 12px;
  }
}

body .banner .banner__up .banner__link .banner__enlace .banner__list {
  margin: 0 0.7rem;
  color: #fff;
  list-style: none;
  text-transform: capitalize;
}

body .banner .banner__half {
  height: 40rem;
  background-color: #52b788;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .banner .banner__half .banner-cont {
  background-color: #50b385;
  height: 100%;
  width: 35%;
}

body .banner .banner__half .banner-cont .text {
  position: absolute;
  left: 3.75rem;
  top: 12.5rem;
}

body .banner .banner__half .banner-cont .text .text__uno {
  text-transform: capitalize;
  color: #ffffffaf;
  font-size: 2.3rem;
}

@media screen and (max-width: 950px) {
  body .banner .banner__half .banner-cont .text .text__uno {
    font-size: 1.8rem;
  }
}

body .banner .banner__half .banner-cont .text .text__uno .text__title1 {
  margin: 0.8rem 0;
}

body .banner .banner__half .banner-cont .text .text__uno .text__title2 {
  margin-bottom: 2rem;
}

body .banner .banner__half .banner-cont .text .text__dos {
  text-transform: capitalize;
  color: #ffffff62;
  font-size: 1.2rem;
}

body .banner .banner__half .banner-cont .text .text__dos .text__secod1 {
  margin-bottom: 0.8rem;
}

body .banner .banner__half .banner-cont .text .card {
  width: 100%;
  height: 5.625rem;
  border-radius: 0.5rem;
  background-color: #f1faee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1.5rem;
  margin-top: 4rem;
}

body .banner .banner__half .banner-cont .text .card .card__texto {
  font-family: 'Roboto', sans-serif;
}

body .banner .banner__half .banner-cont .text .card .card__texto .card__tuno {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

body .banner .banner__half .banner-cont .text .card .card__texto .card__tdos {
  color: #000000ad;
  font-size: 1.4rem;
  font-weight: 700;
}

body .banner .banner__half .banner-cont .text .card .boton {
  text-decoration: none;
  color: #ffffffaf;
  text-transform: capitalize;
  border-radius: 0.5rem;
  background-color: #2c699a;
  width: 33%;
  height: 55px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
}

body .banner .banner__half .banner__image {
  position: absolute;
  right: 80px;
  top: 5.3125rem;
  width: 400px;
  max-height: 700px;
  overflow: hidden;
}

body .banner .banner__half .banner__image .igm {
  overflow: hidden;
}

body .banner .banner__half .banner__image .igm .igm__image {
  width: 500px;
  height: 700px;
}

body .banner .banner__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 7rem;
  background-color: #aef3e7;
}

body .banner .banner__down .info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .banner .banner__down .info .icono {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 0.7rem;
  margin-right: 0.8rem;
}

body .banner .banner__down .info .icon1 {
  background-color: #67D9F7;
}

body .banner .banner__down .info .icon1 .icono__font {
  font-size: 1.8rem;
  color: white;
}

body .banner .banner__down .info .icon2 {
  background-color: #7868E6;
}

body .banner .banner__down .info .icon2 .icono__font {
  font-size: 1.8rem;
  color: white;
}

body .banner .banner__down .info .icon3 {
  background-color: #00917B;
}

body .banner .banner__down .info .icon3 .icono__font {
  font-size: 1.8rem;
  color: white;
}

body .banner .banner__down .info .paragraph {
  font-size: 0.9rem;
}

body .banner .banner__down .info .paragraph .paragraph__txto1 {
  font-weight: bold;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */